<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FirstName</key>
		<string>Richard</string>
		<key>LastName</key>
		<string>Feynman</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Niel</string>
		<key>LastName</key>
		<string>Degrasse Tyson</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>Richard</string>
		<key>LastName</key>
		<string>Dawkins</string>
	</dict>
	<dict>
		<key>FirstName</key>
		<string>James</string>
		<key>LastName</key>
		<string>Randi</string>
	</dict>
</array>
</plist>
